@import url('../../requirements.css');

* {
    font-family: var(--sans-code);
    box-sizing: border-box;

    ::-webkit-scrollbar {
        display: none;
    }

    //border: var(--border); // for debug
}

html {
    height: 100vh;
    min-height: 1000px;
    width: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: start;
    align-items: center;
}

body {
    height: 100%;
    max-width: 3000px;

    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .left {
            height: auto;
            align-self: stretch;
            width: 30px;
            padding: 50px 0;
            background-color: var(--ex-three);
            transition: all 0.3s ease;

            &:hover {
                background: linear-gradient(135deg, #666, #000);
                width: 250px;
                border-radius: 0;

                nav {
                    display: flex;
                }
            }

            nav {
                transition: all 0.3s ease;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    width: 95%;
                    padding: 25px 0px 25px 20px;
                    border: 1px solid #fff4;
                    border-radius: 10px;
                    background-color: #0001;
                    color: #fff;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    user-select: none;
                    transition: all 0.3s ease;
                    text-align: right;
                    box-sizing: border-box;

                    img {
                        margin-right: 10px;
                        height: 25px;
                        order: -1;
                        transition: all 0.7s ease;
                    }

                    &:hover {
                        background: linear-gradient(135deg, var(--ex-three), var(--ex-four));
                        cursor: pointer;
                        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
                        z-index: 10;

                        img {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }

        .right {
            flex: 1;
            overflow-y: auto;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .right--top--panel {
                width: 100%;
                padding: 5px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: row;
                gap: 30px;

                button:hover {
                    cursor: pointer;
                }

                &--search,
                &--system {
                    height: 40px;
                    border: var(--border);
                    padding: 5px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    input {
                        border: var(--border);
                        padding: 5px;
                        border-radius: 10px;
                        height: 100%;
                        font-size: var(--ts-i);

                        &::placeholder {
                            font-style: italic;
                        }
                    }

                    button {
                        height: 100%;
                        padding: 5px;
                        background-color: var(--ex-three);
                        color: #fff;
                        border: var(--border);
                        border-radius: 10px;
                        transition: all 0.3s ease;

                        img {
                            height: 100%;
                        }
                    }
                }
            }

            .right--center--panel {

                .desc,
                .inf,
                .wrr {
                    max-width: 30%;
                    padding: 10px;
                    font-size: var(--ts-i);
                    border-radius: 10px;
                    color: #fff;
                }

                .ttl {
                    font-size: var(--ts-b);
                    font-weight: 700;
                }

                .desc {
                    border-left: 3px solid #000;
                    background-color: var(--ex-six);
                }

                .inf {
                    border-left: 3px solid var(--ex-two);
                    background-color: var(--ex-one);
                }

                .wrr {
                    border-left: 3px solid var(--ex-four);
                    background-color: var(--ex-three);
                }
            }
        }
    }
}